.card {
  width:150px;
  height:150px;
  background-color: silver;
  cursor: pointer;
  border-radius: 10%;
}

.card:hover {
  box-shadow: 10px 10px 8px 10px #888888;;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-gap:25px;
  margin:75px;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
}

.red {
   background-color: red;
}

.blue {
  background-color: blue; 
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow
}

.black {
  background-color: black;
}

.orange {
  background-color: orangered;
}

.teal {
  background-color: teal;
}

.pink {
  background-color: pink;
}

.brown {
  background-color: brown;
}

.cyan {
  background-color: cyan;
}

.maroon {
  background-color: maroon;
}

.purple {
  background-color: rebeccapurple;
}